Checks: >
  -*,
  bugprone-*,
  performance-*,
  cppcoreguidelines-pro-type-member-init,
  misc-const-correctness
  modernize-use-nodiscard

HeaderFilterRegex: 'include/(engine|game)/'

FormatStyle: file
UseColor: true